<div class="container">
<div class="collection">
  {{#each scores}}
  <a href="/see-one-score/{{id}}" class="collection-item row">
    <p class="col s3 left-align">{{game_date}}</p>
    <p class="col s4 offset-s1 center-align">{{team_name}} vs {{team2_name}}</p>
    <p class="col s3 offset-s1 right-align">{{game_name}}</p>
  </a>
  {{/each}}
</div>
</div>
